body {
    font-family: "Open Sans", sans-serif;

}

.barra {
    top: 0px;
    left: 0px;
    height: 99px;
    /* background: #000F08 0% 0% no-repeat padding-box;*/
    background-color: #000F08;
    opacity: 1;
}

.barra li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 57px;
    margin-top: 28px;
}

.barra a {
    color: #ffffff;
    text-decoration: none;
    /*quita el underline*/
    font-size: 25px;

}

.foto1 {
    /*background-image: url("../img/bg-hero.png");*/
    background: transparent url('../img/bg-hero.png') 0% 0% no-repeat padding-box;
    color: white;
    text-align: right;
    padding: 200px;
}

.foto1 h1 {
    font: normal normal 800 60px/82px Open Sans;
    letter-spacing: 1.5px;
}

.foto1 h2 {
    font: normal normal normal 40px/55px Open Sans;
    letter-spacing: 1px;
}

.wework {
    text-align: center;
}
.texto{
    text-align: left;
    display: inline-block;
    color: white;
    margin-left:100px;
    font-size:medium;
}
.joven{
    
    height: 300px;
    background-color: #A4452C;
    padding: 100px 30px 100px 500px;
    margin: 0px;
    
    
}
